.dark-mode {
    background-color: darken($grisOscuro, 10);

    p, tr {
        color: $blanco;
    }

    button,a,h1,h2,h3,h4 {
        color: $gris;
    }

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        width: 100%;
       // margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background-color: $grisOscuro;
        box-shadow: 0px 1px 10px rgba(177, 173, 173, 0.2);
        cursor: default;
        transition: all 400ms ease;
        border: 1px dashed #9fa1a1;


        //box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.8);

        .precio {
            color: $verde;
        }
        .icono {
            filter: invert(100%);
        }
    }
    .anuncio:hover {
        box-shadow: 5px 5px 20px rgba(250, 245, 245, 0.4);
        transform: translateY(-2%);
    }

    .texto-nosotros blockquote {
        color: $blanco;
    }

    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    

    table.propiedades {
        box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.8);
        tbody {
           background-color:$grisOscuro;
        }

        th{
            border-bottom: 0.01x solid rgb(75, 73, 73);
            border-left: 0.01px solid rgb(75, 73, 73);
            border-right: 0.01px solid rgb(75, 73, 73);
            border-top: 0.1px solid rgb(75, 73, 73); 
        }

        td{
            border-bottom: 1px solid rgb(75, 73, 73);
            border-left: 0.1px solid rgb(75, 73, 73);
            border-right: 0.1px solid rgb(75, 73, 73);
            border-top: 1px solid transparent; 
        }

        
    }
    tbody tr:hover {
        background: rgba(89, 90, 90, 0.4);
    }

    .card .back {
        transform: rotateX(-90deg) translateZ(-5.625rem);
        background: $grisOscuro;
        padding: 15px;
        color: $blanco;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 2px 8px $blanco;
    }
}
