@include tablet {
    .body-cliente {
        @include grid(3, 2rem);
        justify-items: center;
    }
}

@media screen and (max-width: 350px) {
    .body-cliente {
    display: grid;
    //margin: 1rem;
    //gap: 2rem;     
    grid-template-columns: repeat(1fr);
    justify-items: center;
    }
}

@media screen and (max-width: 450px) {
    .body-cliente .tarjeta{
        width: 90%;
        justify-items: center;
    }
}

@media screen and (max-width: 850px) {
    .body-cliente .tarjeta{
        column-gap: 1fr;
        width: 96%;
    }
}

.tarjeta {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 15px;
}

.tarjeta .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.tarjeta .front {
   transform: perspective(600px) rotate(0deg);
   box-shadow: 0 5px $negro;
}

.tarjeta .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: $blanco;
    background-color: $negro;
    text-align: center;
    color: $blanco;
    background: #1a1a1a;
    text-shadow: 0 0 15px rgba(44, 43, 43, 0.5), 0 0 10px rgba(255,255,255,.5);  
}

.tarjeta .back {
    //transform: perspective(600px) rotateY(180deg);
   // -webkit-transform: rotateX(-90deg) translateZ(-5.625rem);
    transform: rotateX(-90deg) translateZ(-5.625rem);
    background: $grisOscuro;
    padding: 15px;
    color: $blanco;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px $negro;
}

.tarjeta .back .link {
    border-top: solid 1px $blanco;
    height: 50px;
    line-height: 50px;
}

.tarjeta .back .link a {
    color: $blanco;
}

.tarjeta .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.p-cliente {
    font-size: 1.5rem;
    color: $blanco;
    letter-spacing: 1px;
}

.tarjeta:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.tarjeta:hover .back {
    transform: perspective(600px) rotateY(360deg);
}