.footer {
   padding: calc($separacion / 2) 0;
    background-color: $grisOscuro;
    margin: 0;
    .contenido-footer{
       padding-top: calc($separacion / 2);
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
        align-items: center;
        padding-left: center;

        @media screen and (max-width: 1200px) {
            a{
                width: auto;
                font-size: 1.7rem;
                //margin-right: 1rem;
            }
        }
    }
    .copyright {
        color: $blanco;
        text-align: center;
    }
}