@include tablet {
    .iconos-nosotros {
        @include grid(3, 5rem);//2rem separacion de iconos
    }
}
.icono {
    text-align: center;
    img{
        height: 10rem;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.4);
    }
    h3 {
        text-transform: uppercase;
    }
}