.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }
    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }
        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin: -83rem 0;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin: -80rem 0;
        
    }
}

.navegacion {
    align-items: center;
    //visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear height .5s linear;
    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        //padding: 2rem;//Espacio entre palabras navegacion

        @include tablet {
            margin-right: 1rem;//Espacio entre palabras
            font-size: 1.8rem;//Tamaño de las letras
            padding: 0.5rem 2rem;//Espacio entre palabras navegacion

            &:last-of-type {
                margin-right: 0;
                width: 13rem;
            }
        }

        &:hover {
            color: $verde;//Cambio de color al momento de psar el cursor
            //text-decoration: underline $verde 2px;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.4);
            &:after {
                content: "";
                display: block;
                margin-top: 0.1rem;
                background-color: $verde;
                height: 1.2px;
                width: auto;
            }
        }

    }

    .btn-iniciar {
        color: red;
        border: $rojo 1px solid;
        height: 3.5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        padding: 1rem;
        margin-bottom: 1rem;
        
    }

    @media screen and (max-width: 1200px) {
        a{
            font-size: 1.5rem;
            width: 12rem;
            margin-bottom: 1rem;
            //margin-right: 1rem;
        }
    }

}

//Menu de hanburguesa


// .mobile-menu {
//     width: 50px;
//     height: 30px;
//     position: relative;
//     cursor: pointer;
// }

// .mobile-menu #spn1,#spn2,#spn3 {
//     position: absolute;
//     content: '';
//     background: $amarillo;
//     width: 50px;
//     height: 5px;
//     border-radius: 5px;
//     transition: all 400ms ease;
// }

// #spn2 {
//     top: 11px;
// }

// #spn3 {
//     top: 22px;
// }

// #btn-menu {
//     display: none;
// }

// #btn-menu:checked ~ .mobile-menu #spn1 {
//     transform: rotate(140deg);
//     top: 10px;
// }

// #btn-menu:checked ~ .mobile-menu #spn2 {
//     opacity: 0;
// }

// #btn-menu:checked ~ .mobile-menu #spn3 {
//     transform: rotate(-140deg);
//     top: 10px;
// }

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
        padding-top: 2rem;
    }
}

.mostrar {
   visibility: visible;
   opacity: 1;
   height: auto;
}