.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }
    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }
        @include tablet {
            margin-top: 0;
        }
    }
}

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.navegacion {
    align-items: center;
    //visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity .5s linear height .5s linear;
    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        //padding: 2rem;//Espacio entre palabras navegacion

        @include tablet {
            margin-right: 2rem;//Espacio entre palabras
            font-size: 1.8rem;//Tamaño de las letras
            padding: 2rem;//Espacio entre palabras navegacion

            &:last-of-type {
                margin-right: 0;
                width: 13rem;
            }
        }

        &:hover {
            color: $verde;//Cambio de color al momento de psar el cursor
        }

    }

    .btn-iniciar {
        color: red;
        border: $rojo 1px solid;
        height: 3.5rem;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        padding: 1rem;
        margin-bottom: 1rem;
        
    }

}

//Menu de hanburguesa

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
        padding-top: 2rem;
    }
}

.mostrar {
   visibility: visible;
   opacity: 1;
   height: auto;
}