.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    margin: 1rem 0;
    &.error{
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
   // border-spacing: 0;
    //border-collapse: collapse;
    text-align: center;
    //border-bottom: 1px solid #fff;

    thead {
        background-color: #3e86b3;
        //border-top: 4px solid #aabcfe;

        th {
            padding: 1.5rem;
            //border-bottom: 1px solid #fff;
            // border-left: 0.5px solid #fff;
            // border-right: 0.5px solid #fff;
        }
    }

    .imagen-tabla{
        display: inline-block;
        width: 20rem;
    }

    tbody {
        background: #e3eef1;

        td{
            //border-bottom: 1px solid #fff;
            // border-left: 0.5px solid #fff;
            // border-right: 0.5px solid #fff;
            //border-top: 1px solid transparent; 
        }

    }

    .titulo-tabla{
        text-align: justify;
        padding-left: 1rem;
    }
}

.imagen-small {
    width: 20rem;
    margin: 2rem;
}

.boton-amarillo-tabla{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-evenly;
    width: 12rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    background-color: $amarillo;
    color: $negro;
    gap: 2px;
    
    // border-top-right-radius: 8px;
    // border-bottom-left-radius: 8px;
    //border-radius: 222px 178px 182px 190px / 91px 86px 73px 65px;
    
}


.boton-rojo-tabla {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    width: 12rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    gap: 5px;
    background-color: $rojo;
    color: $negro;
    //font-weight: 400;
    
}