.alerta {
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: bold;
    margin: 1rem 0;
    &.error{
        background-color: $rojo;
    }

    &.exito {
        background-color: $verde;
    }
}

table.propiedades {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(54, 53, 53, 0.8);
   // border-bottom: 1px solid #fff;

    thead {
        background-color: #3e86b3;
        //border-top: 4px solid #aabcfe;

        th {
            padding: 1.5rem;
            border-block-start: 0.1px solid $blanco;
            //border-bottom: 1px solid #fff;
            border-left: 0.5px solid #fff;
            border-right: 0.5px solid #fff;
        }
    }

    .imagen-tabla{
        display: inline-block;
        width: 20rem;
    }

    tbody {
        background: #e3eef1;
        

        td{
            border-bottom: 1px solid #fff;
            border-left: 0.5px solid #fff;
            border-right: 0.5px solid #fff;
            border-top: 1px solid transparent; 
        }

    }

    .titulo-tabla{
        text-align: justify;
        padding-left: 1rem;
    }
}

tbody tr:hover {
    background: rgba(196, 212, 236, 0.4);
}

.imagen-small {
    width: 20rem;
    margin: 2rem;
}

.amarillo-tabla {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-evenly;
    width: 12rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    background-color: $amarillo;
    color: $negro;
    //gap: 2px;
    border: none;
    height: 3rem;
    
    // border-top-right-radius: 8px;
    // border-bottom-left-radius: 8px;
    //border-radius: 222px 178px 182px 190px / 91px 86px 73px 65px;
    
}

.rojo-tabla {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 3rem;
    width: 12rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    //gap: 5px;
    background-color: $rojo;
    color: $blanco;
    font-weight: 400;
    border: none;
    margin-block: 1rem;
    cursor: pointer;
    
}

.admin-header {
    background-color: $grisOscuro;
    padding: 1rem 0 3rem 0;
}