
.inicio-sesion{
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.main-section{
    margin:0 auto;
    margin-top:15rem;
    padding: 0;
    width: 30rem;
    
}

.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 20px;
    box-shadow: 0px 0px 5px #fa4a0f;
    width: 40rem;
    margin: -5rem;
}
.user-img{
    // margin-left: 0px;
    // margin-top: -60px;
    // margin-bottom: 35px;
}



.user-img img{
    width: 200px;
    height: 200px;
    border: solid 2px #ff5c26;
    border-radius: 50%;
    display: inline-block;
    //margin-block: -5rem;
    margin-top: -11rem;
    margin-bottom: 3rem;
}

.form-group{
    padding: 15px 5px;
    width: 10rem;
    
}

// .user-icon{
// 	position: absolute;
// 	font-size: 22px;
// 	left: 28px;
// 	top: 4px;
    
// }
// .lock-icon{
// 	position: absolute;
// 	font-size: 22px;
//     left: 28px;
//     top: 60px;
    
// }


.btn-secondary{
    width: 60%;
    margin: 25px 0 35px;
    color: #ffff;
    font-size: 1.5rem;
    
}
#btningresar{
    background-color: #fa4a0f;
    width: 19rem;
    height: 40px;
    margin: 10px auto;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}

.text-center {
    text-align: center;
}

.pass-recovery {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // column-gap: 2rem;
    // color: $blanco;
    // font-size: 10px;

    .recuperar {
        font-size: 1.5rem;
        color: $blanco;
        font-weight: normal;
    }
}

.Registro {
    color: $verde ;
    font-weight: 700;
    margin: none;
    &:hover{
        color: $amarillo;
    }
}
.recuperar {
    font-size: 1.5rem;
    color: $blanco;
    font-weight: normal;
   // cursor: pointer;
}

.form-label {
    padding-right: 30rem;
}

.group {
    display: flex;
    padding: 0.5px 4px;
    background-color: $blanco;
    border-radius: 1rem;
}

.group i {
    color: #fc3955;
    font-size: 20px;
    padding: 0 10px;
    margin-block: 1rem;
}
.w3l-form-group {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
}

// input[type="email"],
// input[type="password"] {
//     width: 100%;
//     border: none;
//     box-sizing: border-box;
//     background: transparent;
//     color: #000;
// }
.form-control {
        width: 100%;
    border: none;
    box-sizing: border-box;
    background: transparent;
    color: #000;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  .alert-danger hr {
    border-top-color: #e4b9c0;
  }
  .alert-danger .alert-link {
    color: #843534;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  @media screen and (max-width: 500px) {
    .img-inicio, .w3l-form-group {
        width: 90%;
    }
    .form-control {
        padding: 1rem;
    }
}
@media screen and (max-width: 375px) {
    .w3l-form-group {
        margin-left: 2rem;
    }
    .recuperar {
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
// @media screen and (max-width: 770px) {
//     .w3l-form-group {
//         margin-left: 2rem;
//     }
// }
